<header>
  <nav class="mt-5 mb-2 text-center">
    <a class="titulo" [routerLink]="['/']">Centro Espirita Logun Ede</a>
  </nav>
</header>

<section class="mainConainer">
  <main class="container">
    <nav class="nav alert-primary py-3">
      <li class="nav-item mr-5"><a class="menu" [routerLink]="['/']">A Casa</a></li>
      <li class="nav-item mr-5"><a class="menu" [routerLink]="['/listarFilhos']">Filhos</a></li>
      <li class="nav-item mr-5"><a class="menu" [routerLink]="['/']">Liturgia</a></li>
    </nav>

    <router-outlet></router-outlet>
  </main>
</section>

<footer class="text-center mt-2 p-2">
  Centro Espirita Logum Ede.
  Rua 12512 endereço tambem nao sei.
  Corrego do Urubu
</footer>
