<div class="container mt-2">
  <div class="row alert-primary mb-2">
    <div class="col-sm-1">ID</div>
    <div class="col-sm-3">Nome</div>
    <div class="col">Nascimento</div>
    <div class="col">Telefone</div>
    <div class="col">Cargo</div>
    <div class="col"></div>
  </div>
  <div *ngFor="let filho of filhos">
    <div class="row">
      <div class="col-sm-1 mb-1"> {{filho.id}} </div>
      <div class="col-sm-3 mb-1"> {{filho.nome}} </div>
      <div class="col mb-1"> {{formatData(filho.dtNacimento)}} </div>
      <div class="col mb-1"> {{filho.telefone}} </div>
      <div class="col mb-1"> {{filho.cargo}} </div>
      <div class="col mb-1 text-right">
        <a [routerLink]="['/filho', filho.id]" class="badge alert-primary">
          <span class="material-icons">
            keyboard_arrow_right
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
