<div class="container mt-2">
  <div class="row menu mt-3">
    <div class="col"> Filho:{{filho.nome}}</div>
    <div class="col"> Aniversário: {{mesVersario(filho.dtNacimento)}}</div>
  </div>

  <div class="row mt-2 alert-success">
    <div class="col">Nome</div>
    <div class="col">Categoria</div>
    <div class="col"></div>
  </div>
  <div *ngFor="let ent of entidades">
    <div class="row mt-2 ">
      <div class="col">{{ent.nome}}</div>
      <div class="col">{{ent.categoria}}</div>
      <div class class="col">
        <img src="{{ent.imagem}}" width="80" height="100">
      </div>
    </div>
  </div>
</div>
